<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
			<h2>Acerca de mi...</h2>
			<hr>
			<p>Soy un gran aficionado de la fotografia, vivo en Venezuea</p>
			<p>Durante el dia hago diferentes actividades como: Ejercicios Funcionales, Leer blog, libros de diferentes temas, y Fotografia</p>
			<p>Siempre estoy en constante actividad y en busca de aprender nuevas cosas.</p>
			<p>Por la noche me dedico al desarrollo de aplicaciones web usando Ruby, CSS3, JavaScript, HTML5</p>
			<p>Pudes seguirme en mis redes sociales <a href="https://twitter.com/aama79">Twitter</a>, <a href="https://instagram.com/aama.79">Instagram</a>, <a href="https://www.flickr.com/photos/parivrajaka">Flick</a> y comparto algo de codigo en <a href="https://github.com/aama79">GitHub</a>.</p>
		</div>
		<div class="col-2 homepage_content">
			<h2>Cosas que Comparto</h2>
			<hr>
			<% @posts.each do |post| %>
				<h3><a href="#"><%= link_to post.title, post %></a></h3>
				<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<% end %>
		</div>
		<div class="col-3 homepage_content">
			<h2>Logros</h2>
			<hr>
			<% @projects.each do |project| %>
				<h3><a href="#"><%= link_to project.title, project %></a></h3>
				<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
			<% end %>
		</div>
	</div>