<h1 id="page_title">Cosas que hecho!</h1>
<% if user_signed_in? %>
	<div id="admin_link">
		<%= link_to "Crear nuevo Proyecto", new_project_path %>
	</div>
<% end %>
<div id="post_wrapper" class="skinny_wrapper">
    <% @projects.each do |project| %>
     <div class="post">
         <p class="date"><%= project.created_at.strftime('%b %d, %Y')%></p>
         <h2><a href="#"><%= link_to project.title, project %></a></h2>
		<hr>
     </div>
    <% end %>
</div>