<div id="post_show_content" class="skinny_wrapper wrapper_padding">
	<header>
		<p class="date"><%= @project.created_at.strftime('%A, %b %d') %></p>
		<h1><%= @project.title%></h1>
		<hr>
	</header>
		<div id="content">
		<%= markdown @project.description %>
		</div>
		<div class="button_wrapper">
			<a href="<%= @project.link %>" class="project_button" target="_blank">Entra en <%= @project.title %></a>
		</div>
		
	<% if user_signed_in? %>
		<div id="admin_link">
		<%= link_to "Editar", edit_project_path(@project) %>
		<%= link_to "Eliminar",  project_path(@project), method: :delete, data: {confirm: "¿Estas seguro de Eliminar este Proyecto?"} %>
		</div>
	<% end %>
	<hr>
</div>

