<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
	<h2><%= pluralize(@post.errors.count, "error") %> no se puede guardar este articulo: </h2>
	<ul>
		<% @post.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	<% end %>

	<%= f.label :title, "Titulo" %><br>
	<%= f.text_field :title %>

	<br>
	<br>

	<%= f.label :content, "Escribe tu articulo aqui!" %><br>
	<%= f.text_area :content %>

	<br>
	<br>
	<%= f.submit %>
<% end %>