<h1 id="page_title">Cosas que Comparto</h1>
	<% if user_signed_in? %>
		<div id="admin_link">
			<%= link_to "Crear nuevo Aritculo", new_post_path %>
		</div>
	<% end %>
<div id="post_wrapper" class="skinny_wrapper">
    <% @posts.each do |post| %>
     <div class="post">
         <p class="date"><%= post.created_at.strftime('%b %d, %Y')%></p>
         <h2><a href="#"><%= link_to post.title, post %></a></h2>
		<hr>
     </div>
    <% end %>
</div>

<%= will_paginate @posts %>

