<div id="post_show_content" class="skinny_wrapper wrapper_padding">
			<header>
				<p class="date"><%= @post.created_at.strftime('%A, %b %d') %></p>
				<h1><%= @post.title%></h1>
				<hr>
			</header>
			<div id="content">
				<%= markdown @post.content%>
			</div>

			<% if user_signed_in? %>
				<div id="admin_link">
					<%= link_to "Editar", edit_post_path(@post) %>
					<%= link_to "Eliminar", post_path(@post), method: :delete, data: {confirm: "¿Estas seguro de eliminar este Aritculo?"}%>
				</div>
			<% end %>

			<hr>
			<div id="share_box">
				<p>Compartir Aritculo en</p>
				<!-- Twitter -->
    			<a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @aama79 - &amp;url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
    			<i class="fa fa-twitter"></i></a>
    			<!-- Facebook -->
    			<a onclick="javascript:window.open('https://www.facebook.com/sharer.php?id=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
    			<i class="fa fa-facebook"></i></a>
    			<!-- Google Plus -->
    			<a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
    			<i class="fa fa-google-plus"></i></a>
	
			</div>
			<hr>

			
			<hr>
    	<%= render 'disqus'%>
		</div>

