#admin_link{
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	text-align: center;
	padding: 1em 0;
	margin: 3em 0;
	a{
		color: $light;
		margin: 0 1em;font-weight: 700;
		font-size: .8em;
		text-transform: uppercase;
		text-decoration: none;
	}
}
#post_wrapper{
	padding: 3em;
	.date{
		font-size: .9em;
		margin: 0;
	}
	.post{
		text-align: center;
		h2{
			font-size: 2em;
			margin: 0;
			text-transform: uppercase;
			a{
				color: $dark;
				text-decoration: none;
				&:hover{
					color: $highlight;
				}
			}
		}
		hr{
			margin: 3em auto;
		}
	}
}
// -------------- Post Show
#post_show_content{
	header{
		text-align: center;
		.date{
			color: $light;
			font-size: .9em;
			margin: 0;
		}
		h1{
			margin: 0;
		}
	}
	hr{
		margin: 3em auto;
	}
}
#share_box{
	text-align: center;
	p{
		color: $dark;
		font-size: .8em;
		font-weight: 700;
		margin: 0;
		padding: 0 0 1em 0;
		text-transform: uppercase;
	}
	i{
		color: $dark;
		padding: 1em 1.5em;
		&:hover{
			color: $highlight;
			cursor: pointer;
		}
	}
}
// -------------- Pagination

.pagination:before
.pagination:after{
	content: " ";
	display: table;
}
.pagination:after{
	clear:box; 
}
.pagination{
	margin: 0 0 3em 0;
	text-align: center;
	a, .previous_page, .current, .next_page{
		background: $white;
		border-radius: .12em;
		color: $dark;
		font-size: .7em;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
		margin: 0 .5em;
		padding: .75em 1em;
		text-decoration: none;
		&:hover{
			background: $highlight;
			color: $white;
		}
	}
	.current{
		background: $highlight;
		color: $white;
	}
	.disable{
		color: #C0C0C0;
		&:hover{
			color: #C0C0C0;
			background: $white;
		}
	}
}
