@import 'normalize';

$border: #E9E9E9;
$dark: #424652;
$highlight: #8BC6DB;
$light: #9A9DA4;
$white: #FFFFFF;

*{
	box-sizing: border-box;
}
body{

	font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6, p, ul, li{
	color: $dark;
}
h1{
	font-size: 2.5rem;
}
h2{
	font-size: 2rem;
}
h3{
	font-size: 1.75rem;
}
h4{
	font-size: 1.375rem;
}
h5{
	font-size: 1.25rem;
}
h6{
	font-size: 1rem;
}
hr{
		border: 0;
		border-top: 2px solid $highlight;
		display: block;
		height: 2px;
		margin: 2rem 0;
		width: 3em;
	}
p, li{
	font-size: 1.1rem;
	line-height: 1.75;
}
p, ul, ol{
	margin: 0 0 1.6em 0;
}
input[type="text"], input[type="email"], input[type="password"], textarea{
	border: 2px solid $border;
	height: 3em;
	margin: .5em 0 2em 0;
	max-width: 100%;
	padding: 1em;
	width: 100%;
}
textarea{
	min-height: 25em;
}
input[type="submit"], .button {
	background: transparent;
	border: 2px solid $border;
	border-radius: 30px;
	color: $dark;
	font-size: 1em;
	padding: 1em 1em;
	text-align: center;
	text-decoration: none;
	outline: none;
	&:hover{
		border: 2px solid $highlight;
		color: $highlight;
	}
}
#main_navegation
{
	border-bottom: 1px solid $border;
	padding: 2.5em 5%;
	.name{
		border: 2px solid $border;
		border-radius: 25px 25px 25px 25px;
		color: $dark;
		float: left;
		font-weight: 700;
		font-size: .8em;
		letter-spacing: 4px;
		padding: 1rem;
		text-transform: uppercase;
		text-decoration: none;
		
	}
	nav{
		float: right;
		padding-top: 1.5rem;
		a{
			color: $dark;
			font-size: 1rem;
			margin: 0 1rem;
			text-decoration: none;
		}
	}
}
#main_footer{
	border-top: 1px solid $border;
	padding: 2.5em 5%;
	.copyright{
		float: left;
		font-size: .9em;
		margin: 0;
	}
	nav{
		float: right;
		i{
			color: $dark;
			margin-left: 1em;
			padding-top: .2em;
			&:hover{
				color: $highlight;
			}
		}
	}
}
#page_title{
	border-bottom: 1px solid $border;
	font-size: 1rem;	
	padding: 3em 0;
	text-align: center;
	text-transform: uppercase;

}
.alert, .notice{
	border-bottom: 1px solid #E9E9E9;
	text-align: center;
	padding: 1em 0;
}
.button_wrapper{
	margin: 4em 0 0 0;
	text-align: center;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}
.hidden{
	display: none;
}
.project_button{
	background: $highlight;
	color: $white;
	text-decoration: none;
	padding: 1em 2em;
	border-radius: 20px 20px 20px 20px;
}

.skinny_wrapper{
	margin: 0 auto;
	max-width: 760px;
	width: 80%;
}
.wrapper{
	margin: 0 auto;
	width: 90%;

}
.wrapper_padding{
	padding: 4rem 0;
}


@import 'welcome';
@import 'posts_projects';
@import 'pygments';