<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Angel A. Martinez Blog Personal, Fotografia, Desarrollo Web y algo mas...</title>
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<header id="main_navegation" class="clearfix">
		<%= link_to "Angel A. Martinez A.", root_path, class:"name" %>
		<nav>
			<%= link_to "Articulos", posts_path %>
			<%= link_to "Proyectos", projects_path %>
			<%= link_to "Contacto", new_contact_path %>
			<% if user_signed_in? %>
				<%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %>
			<% end %>
		</nav>
	</header>
	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% elsif %>
    	<p class="alert"><%= alert %></p>
    <% end %>
<%= yield %>
 <footer id="main_footer">
		<p class="copyright">&copy 2016 Angel A. Martinez A.</p>
		<nav>
			<a href="https://twitter.com/aama79" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/aama79" target="_blank"><i class="fa fa-github"></i></a>
			<a href="https://www.instagram.com/aama.79/" target="_blank"><i class="fa fa-instagram"></i></a>
			<a href="https://www.flickr.com/photos/parivrajaka/" target="_blank"><i class="fa fa-flickr"></i></a>
		</nav>
	</footer>
</body>
</html>
